nav ul li {
    list-style:none;
    display:inline-block;
    padding:10px;
}
nav ul{
    background-color:#663b34;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
}
nav a {
    font-weight:bold;
    color:whitesmoke;
    text-decoration:none;
}
nav li:hover {
    background-color: #b33825;
}
header {
    background-color:#663b34;
    border-top:3px solid black;
    border-bottom:3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    color:whitesmoke;
    padding:0px 0px 0px 45px;
}

footer {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 10px
}
body{
    background-color:#114f11;
    color:whitesmoke;
}